# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp

# Data
data/
*.csv
!examples/*.csv

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# OS
.DS_Store
Thumbs.db
